<footer class="footer">
  <div class="container-fluid">
    <i class="social-icon fab fa-facebook-f"></i>
    <i class="social-icon fab fa-twitter"></i>
    <i class="social-icon fab fa-instagram"></i>
    <i class="social-icon fas fa-envelope"></i>
    <p class="footer-text">© Copyright 2021 ExamSystem</p>
  </div>
</footer>

</body>
</html>
