<footer class="footer">
  <div class="container-fluid">
    <a href="https://www.facebook.com/"><i class="social-icon fab fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/"><i class="social-icon fab fa-instagram"></i></a>
    <a href="https://twitter.com/"><i class="social-icon fab fa-twitter"></i></a>
    <a href="https://mail.google.com/"><i class="social-icon fas fa-envelope"></i></a>
    <p class="footer-text">© Copyright 2021 ExamSystem</p>
  </div>
</footer>

</body>
</html>
