<%- include('partials/header') %>
<%- include('partials/navbarcoe') %>

<div style="background:#fff; padding-bottom: 5%;">
  <div class="cover-box">
    <div class="animated bounceInDown">
      <div class="container-reg">
        <span class="animated tada" ></span>
        <form name="form2" class="box" action="/addresult" method="POST">
          <h4>Publish<span> Results</span></h4>
          <br>
            <input type="text" name="sname" placeholder="Student Name" autocomplete="off">
            <input type="text" name="ecode" placeholder="Exam Code" autocomplete="off">
            <input type="text" name="marks" placeholder="Enter Marks">
            <input type="submit" value="Add Result" class="btn1">
          </form>
      </div>
    </div>
  <br>
  </div>
</div>

<%- include('partials/footer') %>
