<%- include('partials/header') %>

<%- include('partials/navbarcoe') %>

  <div class="container-dashboard">
    <i class="fas fa-user fa-6x "></i>
    <h1 class="display-6 title">Controller of Examination Home Page</h1>
    <h2 class="text">Welcome <%= name %>.</h2>
  </div>


  <div class="row features">
    <div class="feature-box col-lg-3">
      <a href="/studentsearch"><i class="fas fa-user-circle feature-icon fa-4x"></i></a>
      <h3 class="feature-heading">Student Information</h3>
    </div>

    <div class="feature-box col-lg-3">
      <a href="/scheduleexam"><i class="feature-icon fas fa-check-circle fa-4x"></i></a>
      <h3 class="feature-heading">Schedule Exam</h3>
    </div>

    <div class="feature-box col-lg-3">
      <a href="/addresult"><i class="feature-icon fas fa-chart-pie fa-4x"></i></a>
      <h3 class="feature-heading">Publish Results</h3>
    </div>

    <div class="feature-box col-lg-3">
      <a href="/viewResultscoe"><i class="feature-icon fas fa-folder-open fa-4x"></i></a>
      <h3 class="feature-heading">View Results</h3>
    </div>
  </div>

<%- include('partials/footer') %>
