<%- include('partials/header') %>

<div style="text-align:center; margin-top:18%">
  <div class="container-error">
      <i class="fas fa-exclamation-circle fa-4x"></i>
      <br>
      <br>
      <h1>You do not have permission to access the contents of this page.</h1>
  </div>
  <a href="/"><button type="button" name="button" class="btn1" style="width:200px; margin-top: 5%"><h3>HOME</h3></button></a>
</div>



<% include ('partials/footer') %>
