<%- include('partials/header') %>

<%- include('partials/navbarcoe') %>

<div style="padding-bottom: 10%; padding-top: 5%; background: #fff">
<h1 class="display-6 title" style="text-align: center;">Your exams have been scheduled</h1>
<br><br><br>
<form method="get" action="/coeinfo">
    <button type="submit" class = "btn4">Continue</button>
</form>
<form method="get" action="/scheduleexam">
    <button type="submit" class = "btn4">Schedule further</button>
</form>
</div>

<%- include('partials/footer') %>
