<%- include('partials/header') %>

<%- include('partials/navbarcoe') %>

<br><br><br><br><br>
<h1 class="display-6 title" style="text-align: center;">Your exams have been scheduled</h1>
<br><br><br>
<form method="get" action="/coeinfo">
    <button type="submit" class = "btn4">Continue</button>
</form>
<form method="get" action="/scheduleexam">
    <button type="submit" class = "btn4">Schedule further</button>
</form>