<%- include('partials/header') %>

  <div class="jumbotron centered">
    <div class="container blur-bg">
      <i class="fas fa-pen fa-6x"></i>
      <h1 class="display-3">EXAM REGISTRATION SYSTEM</h1>
      <hr>
      <a class="btn btn-dark btn-lg" href="/login" role="button">LOGIN</a>
    </div>
  </div>



<%- include('partials/footer') %>
