<%- include('partials/header') %>

<div class="animated bounceInDown">
  <div class="container-reg">
    <span class="animated tada" ></span>
    <form name="form2" class="box" action="/register" method="POST">
      <h4>User<span>Register</span></h4>
      <br>
      <h5>Sign up to create your account.</h5>
        <input type="text" name="username" placeholder="Username" autocomplete="off">
        <i class="typcn typcn-eye" id="eye"></i>
        <input type="password" name="password" placeholder="Passsword" id="pwd" autocomplete="off">
        <i class="typcn typcn-eye" id="eye"></i>
        <select id="select-ele" class="custom-select" name="usertype">
          <option value="" disabled selected>User type</option>
          <option value="student">Student</option>
          <option value="coe">CoE</option>
        </select>
        <input type="submit" value="Sign Up" class="btn1">
      </form>
        <a href="/" class="have">Already have an account? Sign in</a>
  </div>
</div>


<%- include('partials/footer') %>
