<%- include('partials/header') %>

<%- include('partials/navbarcoe') %>

<div style="background:#fff; padding:3% 5% 25% 5%; ">
  <div class="animated bounceInDown">
    <div class="container-schedform">
      <span class="animated tada" ></span>
      <form name="form2" id="form2" class="box" action="/examentry" method="POST">
          <h4>Schedule<span> Exam</span></h4>

          <input type="number" class="custom-text" name="minleave" placeholder="Minimum Study Leave">
          <input type="number" class="custom-text" name="no_exams" placeholder="Enter Number of Exams">
          Enter Start Date<br>
          <input type="date" class="custom-date" name="startdate" >
          Holidays<br>
          <ul style="list-style-type:square; text-align: left; " id="dynamic-list"></ul>
          <input type="hidden" name="no_dates" id="no_dates" value=0>
          <input type="submit" value="Next" class="btn1">

      </form>
      <div class="box">
        Enter Holidays:<br>
        <input type="date" id="candidate"/><br>
        <button class = "btn2" onclick="addItem()" >Add holiday</button> &nbsp;&nbsp;
        <button class = "btn2" onclick="removeItem()" >Remove holiday</button>
      </div>
    </div>
  </div>
</div>


<script>
  var num = 0
  function addItem(){
      var ul = document.getElementById("dynamic-list");
      var candidate = document.getElementById("candidate");
      var li = document.createElement("li");
      li.setAttribute('id',candidate.value+"list");
      li.appendChild(document.createTextNode(candidate.value));
      ul.appendChild(li);

      var f = document.getElementById("form2");
      console.log(f)
      var x = document.createElement("INPUT");
      x.setAttribute('type', 'hidden');
      var name = "date" + num
      x.setAttribute('name', name);
      x.setAttribute('id', candidate.value);
      x.setAttribute('value', candidate.value);
      f.appendChild(x)
      num += 1;

      document.getElementById("no_dates").value = num

  }

  function removeItem(){
      var ul = document.getElementById("dynamic-list");
      var candidate = document.getElementById("candidate");
      var item = document.getElementById(candidate.value+"list");
      ul.removeChild(item);

      var f = document.getElementById("form2");
      var x = document.getElementById(candidate.value);
      f.removeChild(x)
      num -= 1;

      document.getElementById("no_dates").value = num
  }
</script>


<%- include('partials/footer') %>
