<%- include('partials/header') %>


<%- include('partials/navbarcoe') %>

<div class="cover-box" style="margin-top:0">
  <i class="feature-icon fas fa-eye fa-6x"></i>
  <h1 class="display-6 title">Enter exam code to view</h1>
  <div class="container-catalog margin-top:0">
    <form action="/searchcoe" method="POST">
      <div class="searchBox">
            <input class="searchInput" type="text" name="code" placeholder="Exam Code" autocomplete="off">
            <button class="searchButton">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>
  </div>
</div>

<%- include('partials/footer') %>
