<%- include('partials/header') %>


<%- include('partials/navbar') %>

<div class="cover-box">
  <div class="container-catalog">
    <i class="fas fa-book-open fa-6x "></i>
    <h1 class="display-6 title">Exam Catalog</h1>

    <form action="/search" method="POST">
      <div class="searchBox">
            <input class="searchInput"type="text" name="code" placeholder="Exam Code" autocomplete="off">
            <button class="searchButton">
                <i class="fas fa-search"></i>
            </button>
      </div>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>


<%- include('partials/footer') %>
