<%- include('partials/header') %>


<%- include('partials/navbarcoe') %>

<div class="cover-box">
  <i class="feature-icon fas fa-trash fa-6x"></i>
  <h1 class="display-6 title">Enter exam code to delete</h1>
  <div class="container-catalog">


    <form action="/deleteexam" method="POST">
      <div class="searchBox">
            <input class="searchInput" type="text" name="code" placeholder="Exam Code" autocomplete="off">
            <button class="searchButton">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>

  </div>

</div>


<%- include('partials/footer') %>
