<%- include('partials/header') %>


<%- include('partials/navbarcoe') %>


<div class="catalog">
  <i class="fas fa-book-open fa-6x "></i>
  <h1 class="display-6 title">Enter Exam Code</h1>

  <form action="/deleteexam" method="POST">
    <div class="searchBox">
          <input class="searchInput" type="text" name="code" placeholder="Exam Code" autocomplete="off">
          <button class="searchButton">
              <i class="fas fa-search"></i>
          </button>
      </div>
  </form>

</div>


<%- include('partials/footer') %>
