@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Bubblegum+Sans|Caveat+Brush|Chewy|Lobster+Two');

html,
body {
  margin: 0;
  padding: 0;
  background-color: #ccc1ff ;
  background-size: cover;
  font-family: "Ubuntu";
}


.text{
  color: #8BD17C;
}

.features{
  padding: 3%;
  background-color: #fff;
  text-align: center;
  color: #5c6bc0;
}

.feature-heading{
  font-size: 1.2rem;
  font-weight: bold;
}


.feature-box{
  padding: 5%;
}

.feature-icon{
  color: #5c6bc0;
  margin-bottom: 1rem;
}

.feature-icon:hover{

  color: #79a6fe;
}

.about{
  padding: 5%;
  text-align: center;
  background-color: #5c6bc0;
  color: #fff;
}

.exam-details{
  color: #d6d6d6;
  margin: 30px auto;
  background: #262e49;
  border: 0;
  border-radius: 5px;
  padding: 14px 10px;
  width: 320px;
  outline: none;
  text-align: left;
}

.exam-details th, td{
  height: 3em;
  padding-left: 10px;
}


.title{
  margin-top: 3%;
  font-size: 2.5em;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

.jumbotron{
  border-radius: 0;
}

.container-catalog{
  color: #5c6bc0;
  text-align: center;
  margin-top: 5%;
  background-color: #fff;
  margin: 0;
  padding: 5%;
}

.container-dashboard{
  color: #5c6bc0;
  text-align: center;
  margin-top: 5%;
  background-color: #fff;
  margin: 0;
  padding: 5%;
  margin-right: 0;
}

.cover-box{
  color: #5c6bc0;
  text-align: center;
  margin-top: 5%;
  background-color: #fff;
  margin: 0;
  padding: 5%;
  height: 720px;
}

.catalog i{
  color: #8BD17C;
}
.container-login{
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #f4eeff;
  border-radius: 9px;
  border-top: 10px solid #79a6fe;
  border-bottom: 10px solid #8BD17C;
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 2%;
}

.container-search{

  margin-left: auto;
  margin-right: auto;
  top: 150px;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  background-color: #f4eeff;
  border-radius: 9px;
  border-top: 10px solid #79a6fe;
  border-bottom: 10px solid #8BD17C;
  width: 400px;
  height: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.social-icon {
  margin: 20px 10px;
  color: #fff;
}

.container-reg{
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 300px;
  text-align: center;
  background-color: #f4eeff;
  border-radius: 9px;
  border-top: 10px solid #79a6fe;
  border-bottom: 10px solid #8BD17C;
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box h4 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #5c6bc0;
  font-size: 18px;
  margin-top:94px;;
}

.box h4 span {
  color: #565f79;
  font-weight: lighter;
}

.box h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  color: #565f79;
  letter-spacing: 1.5px;
  margin-top: -15px;
  margin-bottom: 70px;
}

.box input[type = "text"],.box input[type = "password"],.box input[type = "date"] {
  display: block;
  margin: 20px auto;
  background: #dcd6f7;
  border: 0;
  border-radius: 5px;
  padding: 14px 10px;
  width: 320px;
  outline: none;
  color: #565f79;
      -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;

}
::-webkit-input-placeholder {
  color: #565f79;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus {
  border: 1px solid #79A6FE;

}

.custom-select:focus {
  border: 1px solid #79A6FE;

}

.custom-select{
  display: block;
  margin: 20px auto;
  background: #dcd6f7;
  border: 0;
  border-radius: 5px;
  padding: 14px 10px;
  width: 320px;
  height: 50px;
  outline: none;
  color: #565f79;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

 label input[type = "checkbox"] {
  display: none; /* hide the default checkbox */
}

/* style the artificial checkbox */
label span {
  height: 13px;
  width: 13px;
  border: 2px solid #464d64;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  float: left;
  left: 7.5%;
}

.btn1{
  border:0;
  background: #7f5feb;
  color: #dfdeee;
  border-radius: 100px;
  width: 340px;
  height: 49px;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}


.card-header{
  background-color: #f4eeff;
  border-radius: 9px;
  border-top: 10px solid #79a6fe;
}

.card-body{
  border-bottom: 10px solid #8BD17C;
}


.btn1:hover {
  background: #5d33e6;
}

.btn3 {
  background: #5d33e6;
}

.rmb {
  position: absolute;
  margin-left: -24%;
  margin-top: 0px;
  color: #dfdeee;
  font-size: 13px;
}


.dnthave, .have{
  color: #5c7fda;
  text-decoration: none;
}

.search-go-back{
    color: #5c7fda;
    text-decoration: none;
    position: absolute;
    top: 92%;
    left: 43%;
}

.dnthave:hover, .have:hover {
  color: #5c7fda;
  text-decoration: underline;
}


.typcn {
  position: absolute;
  left: 339px;
  top: 282px;
  color: #3b476b;
  font-size: 22px;
  cursor: pointer;
}

.typcn.active {
  color: #7f60eb;
}

.container-fluid{
  padding: 3% 15%;
  color: #d8e3e7;
}

.nav-head {
    width:100%;
    height:2px;
    background-color: #7f60eb;
    position:fixed;
    top:0;
    left:0;
}

.nav-foot {
    width:100%;
    height:5px;
    background-color: #8BD17C;
    position:fixed;
    top:80px;
    left:0;
}

.navbar{
  padding: 1rem 2rem;
  background-color: #fff;

}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
  color: #5c6bc0 !important;
}

.navbar-toggler{
  color: #5c6bc0 !important;
}

.nav-icon{
  color: #5c6bc0 !important;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  color: #5c6bc0 !important;
}

.btn-disabled{
  text-decoration: none;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #8BD17C;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #8BD17C;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.searchBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%,50%);
    background: #262e49;
    height: 57px;
    border-radius: 40px;
    padding: 10px;

}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color :#262e49;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #262e49;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    border-color: #79A6FE;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

.searchBox:hover {
  border: 1px solid #79A6FE;

}


.pricing-type{
  font-size: 1.2rem;
}


.pricing-text{
  font-size: 2.5rem;
  line-height: 1.5;
}

#pricing{
  padding: 100px;
}

.pricing-col{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  width: 300px;
  height: 400px;
}

.regexam{
  padding: 3% 7% 25%;
  text-align: center;
  background-color: #fff;
}

.container-ht{
                margin-top: 0;
                padding-top: 10%;
                margin-left: auto;
                margin-right: auto;
                text-align: left;
                background-color: #f4eeff;
                border-radius: 9px;
                border-top: 10px solid #79a6fe;
                border-bottom: 10px solid #8BD17C;
                width: 700px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                padding: 3%;
}



.container-tablerec{
                margin: 0;
                margin-top: 3%;
                text-align: center;
                color: #5c6bc0;
                border-radius: 9px;
                width: 600px;
                font-size: 1.2em;
                padding: 3%;
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
              }

.hallticket-img{
  float: right;
  width: 180px;
  margin-bottom: 3%;
}

.info-heading{
  font-size: 2.5em;
  color: #5c6bc0;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 3%;
  font-family: 'Montserrat', sans-serif;
}
.tbl-header table,.tbl-content table{
  width:100%;
  font-weight: bold;
  table-layout: fixed;
}
.tbl-header{
  background:  #5c6bc0;
  color: #fff;
}
.tbl-content{
  overflow-x:auto;
  margin-top: 0px;
}
.tbl-header th{
  padding: 20px 15px;
  font-weight: bold;
  font-size: 1.2em;
  color: #464d64
  text-transform: uppercase;
}

.tbl-content th{
  font-weight: 500;
  font-size: 1.2em;
  color: #464d64
  text-transform: uppercase;
}

.student-col{
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tbl-header td, .tbl-content td{
  padding: 20px 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 1em;
    color: #464d64
}

.footer{
  background-color: #5c6bc0;
  text-align: center;
  color: #fff !important;
}

.footer-text{
  color: #fff !important;
}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}
